{% extends "layout.html" %}

{% block content %}
<b>
    <br>
    <div class="rpspicks">
        <form action="/rock" method="POST">
            <input type="submit" value="Rock">
        </form>

        <form action="/paper" method="POST">
            <input type="submit" value="Paper">
        </form>

        <form action="/scissors" method="POST">
            <input type="submit" value="Scissors">
        </form>
    </div>
    <br>
    {% if output %}
        {% if output[0] == 0 %}
        <h3>It's a tie!</h3>
        {% elif output[0] == 1 %}
        <h3>AI wins!</h3>
        {% elif output[0] == 2 %}
        <h3>Player wins!</h3>
        {% endif %}

        {% if output[1] == 1 %}
        <p>AI's pick: Rock</p>
        {% elif output[1] == 2 %}
        <p>AI's pick: Paper</p>
        {% elif output[1] == 3 %}
        <p>AI's pick: Scissors</p>
        {% endif %}
    {% else %}
        <h3>Choose your pick above</h3>
        <br>
    {% endif %}
    <br>
    <h3>Your score: Wins: {{ score[2] }}  Ties: {{ score[0] }}  Losses: {{ score[1] }}</h3>
    <br>
    <form action="/reset" method="POST">
        <input type="submit" value="Reset">
    </form>
</b>
<br>

{% endblock %}
