body {
    margin: auto;
    max-width: 45em;
    font-size: 120%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    }

br {
        line-height: 150%;
    }

.header {
    background: #9cffe1;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    }

form {
        display: inline-block;
    }


input[type=submit] {
    transition-duration: 0.4s;
    border: none;
    margin-right: 20px;
    padding: 15px 32px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    }

input[type=submit]:hover {
    background-color: #9cffe1;
    color: rgb(0, 0, 0);
    }
